# IntelliJ Files #
##################
*.iml
*.ipr
*.iws
*.log
*.ids
.idea/
.shelf
.idea

# Local Files and Directories #
.ideaDatasources
dataSources
dist
out
.gradle
build.gradle
gradlew
gradlew.bat
settings.gradle
gradle/wrapper
build
gradle.properties
/gradle.properties